<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <script src="/all.min.js"></script> 
  </head>

  <body>
    <nav class="navbar">
      <div id="logo"><%= link_to "Members Only", '#' %></div>
      <div><i class="icon fas fa-newspaper"></i><%= link_to "Posts", '#' %></div>
      <div><i class="icon fas fa-door-open"></i><%= link_to "Login", '#' %></div>
      <div><i class="icon fas fa-code"></i><%= link_to "Snippets", static_pages_snippets_path %></div>
      <div><i class="icon fas fa-envelope-open-text"></i><%= link_to "Newsletter", static_pages_newsletter_path %></div>
      <div><i class="icon fas fa-briefcase"></i><%= link_to "Jobs", static_pages_jobs_path %></div>
      <div><i class="icon fas fa-play-circle"></i><%= link_to "Videos", static_pages_videos_path %></div>
      <div><i class="icon fas fa-map"></i><%= link_to "Guides", static_pages_guides_path  %></div>
      <div id="search-box">
          <input type="search">
      </div>
    </nav>
    <%= yield %>

  </body>
</html>
